{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Banding-Tracking</h1>
    <p class="lead">{% blocktrans %}Study tool for ringed birds' populations{% endblocktrans %}</p>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% trans "Record observations" as title %}
                {% include "common/home_card.html" with src="/map" picture="img/plover.jpg" alt=title title=title %}
            </div>

            <div class="col-md-4">
                {% trans "GONm website" as alt %}
                {% trans "The GONm" as title %}
                {% include "common/home_card.html" with src="http://www.gonm.org/" target="_blank" picture="img/gonm.jpg" alt=alt title=title %}
            </div>

            <div class="col-md-4">
                {% trans "Bretagne vivante" as title %}
                {% include "common/home_card.html" with src="http://www.bretagne-vivante-dev.org/gravelot/index.php" target="_blank" picture="img/bretagne_vivante.jpg" alt=title title=title %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
