{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load template_filters %}

{% block title %}{% trans "Record your observations" %}{% endblock %}
{% block content %}
<section class="container py-lg-3">
    <h1>{% trans "Record your observations" %}</h1>

    <p>
        <b>{% trans "Date" %} :</b> {{general.date}}<br>
        <b>{% trans "Observer" %} :</b> {{general.last_name}} {{general.first_name}}<br>
        <b>{% trans "Location" %} :</b> {{general.town}}, {{general.department}}
    </p>

    <p class="fst-italic">
        {% trans "Fill all the combinations reported on the place & day you gave in the previous page." %}
        {% trans 'If you finised to record all the observations for that place & time, you can click on "Send my observations" to get the history of the birds.' %}
    </p>
    <p class="fst-italic">
        {% trans "If one of the combinaison isn't recognised by the database, you will be notified." %}
    <p>

    <div class="row">
        <div class="col-sm-8">
            <h2>{% trans "Record observations" %}</h2>
            <form method="post" action="{% url 'observations' %}" autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                <div class="row mb-3">
                    {% include "common/field.html" with field=field %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans "Add my observation" %}</button>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h2>{% trans "All the plovers already seized" %}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "Code" %}</th>
                    <th>{% trans "Color" %}</th>
                    <th>{% trans "Sex" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for plover in plovers %}
                    <tr>
                    <td>{{plover.code}}</td>
                    <td>{{plover.color|color_to_string}}</td>
                    <td>{{plover.sex|sex_to_string}}</td>
                    <td>
                        <a href="{% url 'remove_plover_from_session' plover.id %}">
                            <img src="{% static 'img/trash-fill.svg' %}" alt="{% trans 'Delete the observation' %}">
                        </a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {% if plovers %}
                <a href="{% url 'validate_plovers' %}" class="btn btn-secondary large-button" role="button" {% if not plovers %}disabled{% endif %}>
                    {% trans "Send my observations" %}
                </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
